.label {
    -fx-font-family: Arial;
    -fx-font-size: 13;
}

#errorLabel {
    -fx-text-fill: red;
    -fx-font-style: italic;
    -fx-alignment: center;
}

#emailErrorLabel, #cnpErrorLabel, #firstNameErrorLabel, #lastNameErrorLabel, #heightErrorLabel, #weightErrorLabel, #genderErrorLabel, #rhErrorLabel, #bloodTypeErrorLabel, #birthDateErrorLabel{
    -fx-font-style: italic;
}

#signUpLabel{
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#loginLabel{
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#bloodTypeCompleted, #cnpCompleted, #emailCompleted, #dateCompleted, #heightCompleted, #weightCompleted, #genderCompleted, #rhCompleted{
    -font-style: italic;
}