.text-field {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #630000;
    -fx-background-color: transparent;
    -fx-font-family: Ayuthaya;
    -fx-font-size: 14;
}

.password-field {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #630000;
    -fx-background-color: transparent;
    -fx-font-size: 14;
}